<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>Skapa</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/start">Start</a> |
        <a href="/user">User</a> |
        <a href="/edit">Edit</a> |
        <a href="/create">Create</a>
      </nav>
      <hr>
      
  <h1>Skapa ny profil</h1>
  <form>
    <input type="text" placeholder="Namn">
    <button>Skapa</button>
  </form>
  <script src="server.js"></script>
</body>
</html>
