<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>Startsida</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/">Start</a> |
        <a href="/user">User</a> |
        <a href="/edit">Edit</a> |
        <a href="/create">Create</a>
      </nav>
      <hr>
      
  <h1>Ersus</h1>
</body>
</html>
