<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>User</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
      <a href="/">Start</a> |
      <a href="/user">User</a> 
      <a href="/edit">Edit</a> |
      <a href="/create">Create</a>|
    </nav>
      
  <h1>Min user</h1>
  <a href="/edit">Edit user</a>
</body>
</html>
